.user-manage {
}
.operation {
  margin-bottom: 2vh;
}
//.searchForm{
//  margin-top: 20px;
//}
.vertical-center-modal{
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal{
    top: 0;
  }
}
